@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

.mod-bcucourseintro-toggle {
    min-width: 200px;
}

.mod-bcucourseintro-toggle .panel-heading a {
    max-width: 100%;
    white-space: normal;
    display: inline;
}

.mod-bcucourseintro-toggle .panel-heading .intro-toggle:after {
    font-family: 'FontAwesome';
    content: "\f062";
    margin-left: 5px;
    color: grey;
    float: none;
}

.panel-heading .intro-toggle.collapsed:after {
    content: "\f063";
}

.panel-heading .intro-toggle:hover {
    text-decoration: none;
}

.bootstrapelements .fa {
    margin-right: 5px;
}

.modtype_bcucourseintro .mod-indent-outer {
    width: 100%;
    display: block;
}

.section .bcucourseintro .mod-indent-outer .contentwithoutlink {
    width: 100%;
    display: block;
}

.bcucourseintro .panel-heading {
    background-color: transparent;
}

.mod-bcucourseintro-toggle .panel-title {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.mod-bcucourseintro-toggle .panel-title a {
    width: 100%;
}

.mod-bcucourseintro-toggle .panel-heading {
    border-bottom: none;
}